*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url(https://image.freepik.com/vector-gratis/fondo-transparente-videojuegos_6997-111.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.all{
    background: #494B4D;
	max-width: 1150px;
	width: 90%;
	margin: auto;
	margin-top: 10em;
}