*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url(https://image.freepik.com/vector-gratis/fondo-transparente-videojuegos_6997-111.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

.all{
    background: #494B4D;
	max-width: 1150px;
	width: 90%;
	margin: auto;
	margin-top: 10em;
}

.about{
	display: flex;
}

.imagen{
	padding-top: 20px;
	justify-content: center;
	display: flex;
}
.imagen img{
		width: 200px; 
		height: 200px;
		box-shadow: 5px 5px 5px 5px #848484;
		border-radius: 50%;	
}

h1{
	text-align: center;
	padding-top: 20px;
}

.container{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

h2{
	text-align: center;
	font-size: x-large;
	padding-bottom: 30px;
	padding-top: 30px;
}

.col-md-4{
	border: 1px solid white;
}