body.menu{
    background-color: #222222;
    margin: 0px;
}

body.menu aside.sidebar{
    grid-area: 2 / 1 / span 1 / span 1;
    list-style: none;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    font-family: 'Long Cang', cursive;
    top: 0;
    background-color: #333333;
    padding: 0px;
}

aside.sidebar ul#sidelist{
    list-style: none;
    padding-left: 0;
    margin: 1rem;
}

aside.sidebar ul#sidelist li:hover{
    color: white;
    background-color: gray;
}

aside.sidebar ul#sidelist li{
    color: darkgray;
    font-size: 2.5rem;
    margin: 1.5rem 0px;
    text-align: center;
} 

nav#navbar{
    background-color: #333333;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1 / 1 / span 1 / span 2;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    padding: 1rem;
    margin: 0;
    font-family: 'Long Cang', cursive;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style: none;
    background-color: #333333;
    padding: 0px;

}

nav#navbar ul.nav{
    list-style: none;
    padding: 0px;
}

div.container{
    display: grid;
    margin: 0.5rem;
    grid-template-columns: 15rem 1fr;
    grid-auto-rows: 5rem 1fr;
    grid-gap: 0.5rem;
    grid-auto-flow: row dense;
    justify-content: center;
}

div#menu_header{
    display: flex;
    justify-content: space-between;
}