body{
    background-color: #222222;
    margin: 0px;
}

div.logo-header{
    display: flex;
}

div.logo-header img.logo{
    width: 4.5rem;
    margin: 0.25rem;
}

ul.nav li img{
    width: 3rem;
}

span.site-name{
    color: white;
    font-size: 2rem;
    align-items: center;
    margin-top: 1.25rem;
}

ul.menu{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    margin:0;
    padding: 0;
    align-items: center;
}

ul.menu li a{
    font-size: 1.5rem;
    color:white;
    border-radius: 0.25rem;
    margin: 0.1rem 5.5rem 0rem;
    text-decoration: none;
}

ul.menu li a:hover{
    color: orangered;
}

/*
body aside.sidebar{
    grid-area: 2 / 1 / span 1 / span 1;
    list-style: none;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    font-family: 'Long Cang', cursive;
    top: 0;
    background-color: #333333;
    padding: 0px;
}


body aside.sidebar.producto{
    grid-area: 2 / 1 / span 3 / span 1;
    list-style: none;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    font-family: 'Long Cang', cursive;
    top: 0;
    background-color: #333333;
    padding: 0px;
}

aside.sidebar ul#sidelist{
    list-style: none;
    padding-left: 0;
    margin: 1rem;
}

aside.sidebar ul#sidelist li:hover{
    color: white;
    background-color: gray;
}

aside.sidebar ul#sidelist li{
    color: darkgray;
    font-size: 2.5rem;
    margin: 1.5rem 0px;
    text-align: center;
} 
*/
nav.navbar{
    background-color: #333333;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1 / 1 / span 1 / span 2;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    padding: 1rem;
    margin: 0;
    font-family: 'Long Cang', cursive;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style: none;
    background-color: #333333;
    padding: 0px;
    align-items: flex-start;
}

nav.navbar ul.nav{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
}

nav.navbar ul.nav li{
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.05rem 0.25rem;
    box-sizing: content -box;
}

nav.navbar ul.nav li:hover{
    color: white;
    background-color: gray;
}

div.container{
    display: grid;
    margin: 0.5rem;
    grid-template-columns: 15rem 1fr;
    grid-auto-rows: 5rem 1fr;
    grid-gap: 0.5rem;
    grid-auto-flow: row dense;
    justify-content: center;
}

div.container.producto{
    display: grid;
    margin: 0.5rem;
    grid-template-columns: 15rem 1fr;
    grid-auto-rows: 5rem 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    grid-auto-flow: row dense;
    justify-content: center;
}

div#menu_header{
    display: flex;
    justify-content: space-between;
}

div.carrusel{
    grid-area: 2 / 1 / span 1 / span 2;
    font-size: 2rem;
}

div.carrusel ul.objetos-carrusel li img{
    width: 10rem;
} 

div.carrusel ul.objetos-carrusel li img:hover{
    width: 20rem;
} 

div.carrusel ul.objetos-carrusel{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin:1.2rem 0rem 1rem;
    padding: 0;
    border: 3px solid gray;
    background-color: #111111;
}

article.descripcion{
    grid-area: 3 / 1 / span 1 / span 2;
    border: 3px solid gray;    
    background-color: #111111;
}

article.software{
    grid-area: 4 / 1 / span 1 / span 2;
    border: 3px solid gray;
    background-color: #111111;
}

label.info{
    font-size: 3rem;
    color: white;
}

p.descripcion{
    color:white;
    font-size: 1.5rem;
}