body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


.menu_header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#main-content {
	width: 90%;
	max-width: 800px;
	margin:auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content header,#main-content .content {
	padding: 40px;
}
.menu {
	background: #333;
	color: white;
	height:100%;	
	width: 15%;   
	left: 0;   
	top: auto;
	position: fixed;  
}