<!DOCTYPE html>
<html>
        <head>
            <title>About</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../styles/bootstrap.css">
            <link rel="stylesheet" href="../styles/about.css">
        </head>

        <body>
          <main role="main">
            <div class="all">
          <div class="about">
            <div class="container">
                <div class="imagen">
                    <img src="https://images.vexels.com/media/users/3/143097/isolated/preview/5a631e30cd478440c20da8c5578dd77c-discos-con-logo-circular-by-vexels.png" alt="img_logo">
                </div>
              <h1 class="display-3">HitMaker</h1>
              <p>Somos HitMaker, la comunidad más amplia en venta de videojuegos para América Latina a la vanguardia en el mercado para darte las mejores opciones para tu ocio.</p>
            </div>
          </div>
    
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2>Integrantes de la empresa</h2>
                <p>Jefe: Guillermo</p>
                <p>correo</p>
                <p>Administrador: Steven </p>
                <p>correo</p>
                <p>Diseñador: Nelson</p>
                <p>correo</p>
                <p>Empleado: Ruben</p>
                <p>correo</p>
              </div>
              <div class="col-md-4">
                <h2>Contactanos</h2>
                <p>Contactate con nuestros vendedores</p>
                <p>Telefono1</p>
                <p>Telefono2</p>
                <p>Telefono3</p>
              </div>
              <div class="col-md-4">
                <h2>Soporte</h2>
                <p>Equipo especializado para tus dudas o fallas</p>
                <p>Telefono1</p>
                <p>Telefono2</p>
                <p>Telefono3</p>
              </div>
            </div>
            <hr>
          </div> 
          <div>
        </main>
        </body>
</html>