<!DOCTYPE html>
<html>
        <head>
            <title>Articulos</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../styles/bootstrap.css">
            <link rel="stylesheet" href="../styles/articulos.css">
        </head>
        <body>
	
            <div class="wrap">
                <h1>Venta de VideoJuegos Hitmarker</h1>
                    <section class="products-list">
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="card" style="width: 15rem;">
                                <div class="imagen">
                                <img src="https://swordshield.pokemon.com/assets/img/common/packshot/en-us/packshot_sword.png" class="card-img-top">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Juego1</h5>
                                  <p class="text">0.00$</p>
                                  <a href="#" class="btn btn-primary">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        
        </body>
</html>