<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <link rel="stylesheet" href="../styles/help.css">

  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>FAQ Hitmaker</title>
</head>

<body>
	<div class="container">
		<div class="content">
			<div class="text-component text-center">
				<h1> FAQ Hitmaker </h1>
			</div>
		  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingOne" role="tab">
				<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Olvide mi contraseña<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
				  <p></p>
				</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingTwo" role="tab">
				<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">¿Como hago un pedido?<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
				  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingThree" role="tab">
				<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Mi paypal no funciona... ¿Que hago?<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
				  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</body>
</html>