<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <link rel="stylesheet" href="../styles/help.css">
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <title>FAQ Hitmaker</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1> FAQ Hitmaker </h1>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Básicos</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Móviles</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Cuenta</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Pagos</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Privacidad</a></li>
		<li><a class="cd-faq__category truncate" href="#delivery">Envíos</a></li>
	</ul> 

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Básicos</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Como cambio mi contraseña?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
		  </div>
		  <div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Dropdown button
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item" href="#">Action</a>
			  <a class="dropdown-item" href="#">Another action</a>
			  <a class="dropdown-item" href="#">Something else here</a>
			</div>
		  </div>
				</div> 
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo me registro?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div>
			</li>

  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>FAQ Hitmaker</title>
</head>

<body>
	<div class="container">
		<div class="content">
			<div class="text-component text-center">
				<h1> FAQ Hitmaker </h1>
			</div>
		  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingOne" role="tab">
				<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Olvide mi contraseña<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
				  <p></p>
				</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingTwo" role="tab">
				<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">¿Como hago un pedido?<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
				  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading" id="headingThree" role="tab">
				<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Mi paypal no funciona... ¿Que hago?<i class="pull-right fa fa-plus"></i></a></h4>
			  </div>
			  <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
				  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo puedo acceder a los datos de mi cuenta?</span></a>
									<div class="cd-faq__content">
          <div class="text-component">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magni vero deserunt enim et quia in aliquam, rem tempore voluptas illo nisi veritatis quas quod placeat ipsa! Error qui harum accusamus incidunt at libero ipsum, suscipit dolorum esse explicabo in eius voluptates quidem voluptatem inventore amet eaque deserunt veniam dignissimos excepturi? Dolore, quo amet nostrum autem nemo. Sit nam assumenda, corporis ea sunt distinctio nostrum doloribus alias, beatae nesciunt dolore saepe consequuntur minima eveniet porro dolor officiis maiores ab obcaecati officia enim aliquam. Itaque fuga molestiae hic accusantium atque corporis quia id sequi enim vero? Hic aperiam sint facilis aliquam quia, accusamus tenetur earum totam enim est, error. Iusto, reiciendis necessitatibus molestias. Voluptatibus eos explicabo repellat nesciunt nam vero minima.</p>
          </div>
				</div> 
			</li>

		<ul id="delivery" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Envíos</h2></li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo puedo encontrar su información de entrega internacional?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
          </div>
				</div> 
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Quién se encarga del envío?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
		  </div>
				</div> 
			</li>

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> 
<script src="..controller/util.js"></script> 
<script src="..controller/help.js"></script> 
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</body>
</html>