<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Document</title>
</head>
<body id="menu">
  <div id="container">
    <nav id="navbar">
      <div id="menu_heaer">
        <div id="logo-header">
          <span class="site-name">Hitmarker</span>
        </div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <img src="..." alt="carro_de_compras" class="img-thumbnail">
          </li>
          <li class="nav-item">
            <img src="..." alt="usuario" class="img-thumbnail">
          </li>
        </ul>
      </div>
    </nav>
    <aside id="sidebar">
      <ul id="sidelist">
        <li id="Home">Home</li>
        <li id="Articulos">Articulos</li>
        <li id="About us">About us</li>
        <li id="Help">Help</li>
      </ul>
    </aside>
  </div>
</body>
</html>
