<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Producto</title>
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div id="menu_header">
                    <div id="logo-header">
                        <span class="site-name">Hitmarker</span>
                    </div>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <img src="..." alt="carro_de_compras" class="img-thumbnail">
                        </li>
                        <li class="nav-item">
                          <img src="..." alt="usuario" class="img-thumbnail">
                        </li>
                    </ul>
                </div>
            </nav>
            <aside class="sidebar producto">
                <ul id="sidelist">
                    <li id="Home">Home</li>
                    <li id="Articulos">Articulos</li>
                    <li id="About us">About us</li>
                    <li id="Help">Help</li>
                </ul>
            </aside>
            <div class="carrusel">

            </div>
            <article class="descripcion">
                <label for="">descripcion</label>
            </article>
            <article class="software">

            </article>
        </div>
    </body>
</html>