<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../styles/bootstrap.css">
        </head>

        <body>
            <div class="container">
                    <div>
                        <img src="http://www.graciaviva.cat/png/big/11/112513_hitmarker-no-background.jpg" class="rounded mx-auto d-block">
                    </div>
            
                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" class="form-control" placeholder="Ruben123@uca.edu.sv">
                </div>
                <div class="form-group">
                    <label>Codigo verificación</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                        <p class="text-center">Login</p> 
                                </div>
                                <div class="col-sm"> 
                                    <p class="text-center"></p>                                    
                                </div>
                                <div class="col-sm">
                                    <p class="text-center">Registrarse</p>                                        
                                </div>
                            </div>
                        </div>                            
                </div>                      
            </div>       
        </body>
    </html> 